<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio lightbg" style="padding-top:100px;padding-bottom:100px">
    <div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<figure>
					<img id="photo" src="/assets/images/embreve.png" alt="photo">
					<figcaption id="caption">vila Pica Pau</figcaption>
				</figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<figure>
					<img id="photo" src="/assets/images/embreve.png" alt="photo">
					<figcaption id="caption">vila da Paz</figcaption>
				</figure>
            </div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<figure>
					<img id="photo" src="/assets/images/embreve.png" alt="photo">
					<figcaption id="caption">vila da Luz</figcaption>
				</figure>
            </div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<figure>
					<img id="photo" src="/assets/images/embreve.png" alt="photo">
					<figcaption id="caption">vila Bom Destino</figcaption>
				</figure>
            </div>
		</div>
    </div>
</section>
