<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="service" style="padding-bottom:50px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="main_service_area">
					<div class="main_service_content">
						<div class="service_tabe">
							<!-- Nav tabs -->
							<ul class="service_tabe_menu nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#concilia-aba" aria-controls="concilia-aba" role="tab" data-toggle="tab">
										<i class="fa fa-info" aria-hidden="true"></i><br/>
										BANCO DE <br> IMÓVEIS
									</a>
								</li>
								<li role="presentation"><a href="#rodovias-aba" aria-controls="rodovias-aba" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />LOCALIZAÇÃO <br> IMÓVEIS</a></li>
								<li role="presentation"><a href="#programa-aba" aria-controls="programa-aba" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />CARACTERÍSTICAS <br> DOS IMÓVEIS</a></li>
								<li role="presentation"><a href="#reassentamento-aba" aria-controls="reassentamento-aba" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />DESTINAÇÃO DOS <br> IMÓVEIS</a></li>
								<li role="presentation"><a href="#conciliacao-aba" aria-controls="conciliacao-aba" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />ACESSO AOS<br> IMÓVEIS</a></li>

							</ul>

							<!-- Tab panes -->
							<div class="tab-content" style="margin-top: 50px;">
								<div role="tabpanel" class="tab-pane active" id="concilia-aba">
									<div class="single_service_tab">
										<div class="row">
											<div class="col-sm-6">
												<div class="single_tab_content">
													<div class="head_title" style="margin-bottom: 10px;">
														<h3>O concilia</h3>
														<div class="separator"></div>
													</div>
													<p style="font-size: 1.24rem;">O <strong>Concilia BR-381 e Anel - Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381</strong> - foi criado em função da necessidade de revitalização dessas rodovias. É uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT), em parceria com Ministério Público Federal (MPF), Defensoria Pública da União (DPU), Companhia Urbanizadora e de Habitação de Belo Horizonte (URBEL) e Associação das Comunidades de Moradores de Áreas de Risco de Belo Horizonte (CMAR).</p>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="single_tab_img">
													<img src="assets/images/mapa.jpg" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="rodovias-aba">
									<div class="single_service_tab">
										<div class="row">
											<div class="col-sm-6">
												<div class="single_tab_content">
													<div class="head_title" style="margin-bottom: 10px;">
														<h3>As rodovias</h3>
														<div class="separator"></div>
													</div>
													<p style="font-size: 1.24rem;">O Anel Rodoviário de Belo Horizonte e a BR-381 Norte são importantes rodovias para Minas Gerais, onde transitam cerca de 154 mil veículos por dia, segundo dados de 2013 da Polícia Rodoviária Federal. O tráfego existente já ultrapassou o volume planejado para a rodovia quando de sua contrução, em 1950.</p>

													<p style="font-size: 1.24rem;">De acordo com a PRF, os 27 km do Anel Rodoviário de Belo Horizonte e os 303 km da BR-381 Norte (trecho de BH a Governador Valadares) são parte da malha rodoviária mineira com o maior índice de acidentes no estado. Para aumentar a capacidade de tráfego das rodovias, foram projetadas obras de melhoria em diversos trechos. A execução das obras depende da remoção de muitas famílias que ocuparam as faixas de domínio e passaram a viver às margens das rodovias.</p>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="single_tab_img">
													<img src="assets/images/featureslid1.jpg" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="programa-aba">
									<div class="single_service_tab">
										<div class="row">
											<div class="col-sm-6">
												<div class="single_tab_content">
													<div class="head_title" style="margin-bottom: 10px;">
														<h3>O programa</h3>
														<div class="separator"></div>
													</div>
													<p style="font-size: 1.24rem;">O Concilia BR-381 e Anel - Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381 - é uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT). Ele teve início em 2013, fruto de uma Ação Civil Pública (ACP nº 57367-09.2013.4.01.3800) ajuizada pelo Ministério Público Federal (MPF) e Defensoria Pública da União (DPU), que se uniram em favor das diversas comunidades afetadas pelas obras na BR-381 e no Anel Rodoviário.</p>

													<p style="font-size: 1.24rem;">O Programa consiste em remover e reassentar os moradores que residem na faixa de domínio das rodovias. O Concilia realiza acompanhamento multidisciplinar das famílias em todo processo de desapropriação e reassentamento (Pré Morar e Pós Morar). As atividades tiveram início em 2014 e contam com parcerias de instituições públicas e apoio da sociedade civil organizada.</p>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="single_tab_img">
													<img src="assets/images/stab1.png" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="reassentamento-aba">
									<div class="single_service_tab">
										<div class="row">
											<div class="col-sm-6">
												<div class="single_tab_content">
													<div class="head_title" style="margin-bottom: 10px;">
														<h3>O Reassentamento</h3>
														<div class="separator"></div>
													</div>
													<p style="font-size: 1.24rem;">O reassentamento dos moradores atende a critérios indicados pela Justiça Federal e garantem os direitos e a inserção social das famílias cadastradas no Programa.</p>

													<p style="font-size: 1.24rem;">Os moradores cadastrados contam com atividades sociais e educativas voltadas para a geração de emprego e renda e preparação para sua insersão no novo contexto social. O Programa trabalha com três modalidades de reassentamento: indenização, compra assistida e nova unidade habitacional.</p>

													<p style="font-size: 1.24rem;">Na etapa do reassentamento iniciada em 2017, o Concilia BR-381 e Anel oferece duas modalidades de aquisição: compra assistida e indenização. Na modalidade compra assistida, é feita uma análise de habitabilidade de acordo com o perfil de cada núcleo familiar.</p>

													<p style="font-size: 1.24rem;">O DNIT é o responsável pela indenização e aquisição de imóveis disponíveis em Belo Horizonte, região metropolitana e outros municípios.</p>
												</div>
											</div>

											<div class="col-sm-6">
												<p style="font-size: 1.24rem;">A etapa de 2017 se caracteriza pelo reassentamento prioritário de 264 famílias. Para 2018, está previsto o reassentamento de outras 1.090 famílias. As ações são pautadas em um Plano de Providências, documento que orienta e ajuda a viabilizar o reassentamento definitivo das famílias.</p>
												<div class="single_tab_img">
													<img src="assets/images/featureslid1.jpg" alt="" />
												</div>
											</div>
											<!--                                                        <div id="pentagon"></div>-->
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="conciliacao-aba">
									<div class="single_service_tab">
										<div class="row">
											<div class="col-sm-6">
												<div class="single_tab_content">
													<div class="head_title" style="margin-bottom: 10px;">
														<h3>Conciliação</h3>
														<div class="separator"></div>
													</div>
													<p style="font-size: 1.24rem;">A principal função da Conciliação é a realização de um acordo que evite conflitos entre as partes. As partes envolvidas comunicam ao órgão competente, ou são chamadas por este Órgão, para que seja firmado um acordo, ou seja, para buscar a conciliação. A Justiça Federal marca uma audiência e, diante do conciliador, as partes entram em acordo e anunciam a solução encontrada.</p>

													<p style="font-size: 1.24rem;">Os acordos firmados têm uma validade jurídica, uma vez que seus termos são levados à homologação judicial. A Conciliação é feita com cada família a ser removida e reassentada e os conciliadores podem fazer sugestões ou até mesmo propor soluções para o conflito.</p>

													<p style="font-size: 1.24rem;">Um Conselho Executivo composto por representantes das instituições parceiras do Concilia BR-381 e Anel, para deliberar e decidir sobre casos especificos e questões estratégicas. O resultado de suas deliberações é submetido ao juízo para homologação.</p>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="single_tab_img">
													<img src="assets/images/stab1.png" alt="" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
