<section id="portfolio" class="portfolio lightbg" style="padding-top:100px;padding-bottom:50px">
	<div class="container-fluid">
        <div class="row">
                <div class="col-md-offset-1 col-sm-6">
                    <div class="head_title">
                        <h3 class="font-3rem">EM DESTAQUE</h3>
                        <div class="separator"></div>
                    </div>
                </div>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<div *ngFor="let item of news" class="col-sm-6 bcards" >
				<div class="view view-first">
				  <img style="width:500px; height:300px" src="{{basePathImage}}{{item.image}}" />
				  <div class="mask">
					<h2>{{item.title}}</h2>
					<a [routerLink]="['/noticias', item.slug]" class="info">Leia Mais...</a>
				  </div>
				</div>
            </div>
		</div>
    </div>
</section>
<cba-button-block btnIcon="news"></cba-button-block>
