<section id="portfolio" class="portfolio lightbg" style="padding-top:50px;">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <div class="head_title" style="margin-bottom: 50px;">
                        <h3 style="font-size: 2rem;">EM DESTAQUE</h3>
                        <div class="separator"></div>
                    </div>
                </div>
		</div>
		<div class="row" style="margin-bottom: 50px;">
			<div *ngFor="let item of news" class="col-sm-6 bcards" >
				<div class="view view-first">
				  <img style="width:500px; height:300px" src="{{basePathImage}}{{item.image}}" />
				  <div class="mask">
					<h2>{{item.title}}</h2>
					<a [routerLink]="['/noticias', item.slug]" class="info">Leia Mais...</a>
				  </div>
				</div>
            </div>
		</div>
    </div>
	<div class="read-more-news-overlay">
		<div class="container-fluid">
			<div class="row">
				<div class="text-center">
					<div class="col-sm-12 no-padding">
						<a [routerLink]="['/noticias']">
							<div class="read-more-news-icon">
								<i class="fa fa-newspaper-o fa-4x" aria-hidden="true" style="color:white"></i>
								<h2 style="color:white">VER TODAS AS NOTÍCIAS</h2>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
