<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact" style="background-color: #fff">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="contact_contant sections" style="padding-bottom: 50px;">
                        <div class="col-sm-6">

                            <div class="main_contact_info">
                                <div class="head_title">
                                    <h3>CONTATO</h3>
                                    <div class="separator"></div>
                                </div>
                                <div class="row">
                                    <div class="contact_info_content">
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <i class="fa fa-home"></i>
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Venha nos visitar</h3>
                                                    <p>Rua Sapucaí, 571, bairro Floresta, Belo Horizonte - MG</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Nosso email</h3>
                                                    <p class="font-124">xxxxxx@conciliabr381eanel.com.br</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Ligue para nós</h3>
                                                    <p>(31) 3224-7704 </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Horário de trabalho</h3>
                                                    <p>Seg a Sex: 09:00 - 17:00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="head_title">
                                <h3>ENVIE A SUA MENSAGEM POR AQUI</h3>
                                <div class="separator"></div>
                            </div>
                            <div class="single_contant_left">
                                <form action="#" id="formid">
                                    <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Primeiro nome" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" placeholder="Último nome" required="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subject" placeholder="Assunto" required="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="8" placeholder="Mensagem"></textarea>
                                    </div>

                                    <div class="">
                                        <input type="submit" value="Enviar" class="btn btn-primary">
                                    </div>
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="head_title" style="margin-bottom: 25px;">
                <h3>Como chegar</h3>
                <div class="separator"></div>
            </div>
			<div class="contact_info_content">
				<div class="col-sm-6">
					<div class="single_contact_info">
						<div class="single_info_icon">
							<i class="fa fa-subway"></i>
						</div>
						<div class="single_info_text">
							<h3>Metrô</h3>
							<p class="font-124">Descer na Estação Central e sair pela Rua Sapucaí </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
						<div class="single_info_icon">
							<i class="fa fa-bus"></i>
						</div>
						<div class="single_info_text">
							<h3>Ônibus</h3>
							<p class="font-124">Linhas que atendem a região: 8205 / 8106 / 9104 / 8103 / 8405 / 9210 / SC03A </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
						<div class="single_info_icon">
							<i class="fa fa-male"></i>
						</div>
						<div class="single_info_text">
							<h3>Caminhada</h3>
							<p class="font-124">À 800 m da Praça Sete de Setembro, na Região Central de BH</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
						<div class="single_info_icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="single_info_text">
							<h3>Pontos de referências</h3>
							<p class="font-124">Viaduto Santa Tereza, TV Alterosa, Salumeria Centrale</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>  <!-- End of contact section -->
