<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/CONTATO.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact" style="background-color: #fff">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="contact_contant sections" style="padding-bottom: 50px;">
                        <div class="col-sm-6">

                            <div class="main_contact_info">
                                <div class="head_title" style="margin-bottom: 50px;">
                                    <h3 class="font2-3">CONTATO</h3>
                                    <div class="separator"></div>
                                </div>
                                <div class="row">
                                    <div class="contact_info_content">
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <img src="assets/images/contact/home.png" alt="">
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Venha nos visitar</h3>
                                                    <p>Rua Sapucaí, 571, bairro Floresta, Belo Horizonte - MG</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <img src="assets/images/contact/email.png" alt="">
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Nosso email</h3>
                                                    <p class="font-124">conciliaanel@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <img src="assets/images/contact/telefone.png" alt="">
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Ligue para nós</h3>
                                                    <p>(31) 3224-7704 </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="single_contact_info">
                                                <div class="single_info_icon">
                                                    <img src="assets/images/contact/horario.png" alt="">
                                                </div>
                                                <div class="single_info_text">
                                                    <h3>Horário de trabalho</h3>
                                                    <p>Seg a Sex: 09:00 - 17:00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="head_title" style="margin-bottom: 50px;">
                                <h3 class="font2-3">DEIXE SUA MENSAGEM AQUI</h3>
                                <div class="separator"></div>
                            </div>
                            <div class="single_contant_left">
                                <form id="id-contactForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                                    <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->
									<div class="row">
										<!-- <div class="alert alert-info" role="alert" [hidden]="contactForm.form.valid">
											Preencha todos os campos
										</div> -->
										<div class="alert alert-success" role="alert" [hidden]="!success">
											Mensagem enviada com sucesso!
										</div>
										<div class="alert alert-error" role="alert" [hidden]="!error">
											Não foi possivel enviar a mensagem!
										</div>
									</div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div [ngClass]="getFormGroupClass(name.valid, name.pristine)">
												<label for="name" class="form-control-label">Nome</label>
                                                <input type="text" [ngClass]="getFormControlClass(name.valid, name.pristine)" name="name" placeholder="Primeiro nome" required [(ngModel)]="contact.name" #name="ngModel" style="border-width:2px;">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div [ngClass]="getFormGroupClass(lastName.valid, lastName.pristine)">
												<label for="lastName" class="form-control-label">Sobrenome</label>
                                                <input type="text" [ngClass]="getFormControlClass(lastName.valid, lastName.pristine)" name="lastName" placeholder="Sobrenome" required [(ngModel)]="contact.lastName" #lastName="ngModel" style="border-width:2px;">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
												<label for="email" class="form-control-label">Email</label>
                                                <input type="email" [ngClass]="getFormControlClass(email.valid, email.pristine)" name="email" placeholder="Email" required [(ngModel)]="contact.email" #email="ngModel" style="border-width:2px;">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div [ngClass]="getFormGroupClass(subject.valid, subject.pristine)">
												<label for="subject" class="form-control-label">Assunto</label>
                                                <input type="text" [ngClass]="getFormControlClass(subject.valid, subject.pristine)" name="subject" placeholder="Assunto" required [(ngModel)]="contact.subject" #subject="ngModel" style="border-width:2px;">
                                            </div>
                                        </div>
                                    </div>


                                    <div [ngClass]="getFormGroupClass(message.valid, message.pristine)">
										<label for="message" class="form-control-label">Mensagem</label>
                                        <textarea [ngClass]="getFormControlClass(message.valid, message.pristine)" name="message" rows="8" placeholder="Mensagem" required [(ngModel)]="contact.message" #message="ngModel" style="border-width:2px;"></textarea>
                                    </div>

                                    <div class="">
                                        <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!contactForm.form.valid">
                                    </div>
									<span>* Preencha todos os campos</span>
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="head_title" style="margin-bottom: 25px;">
                <h3 class="font2-3">Como chegar</h3>
                <div class="separator"></div>
            </div>
			<div class="contact_info_content">
				<div class="col-sm-6">
					<div class="single_contact_info">
                        <div class="single_info_icon">
                            <img src="assets/images/contact/metro.png" alt="">
                        </div>
						<div class="single_info_text">
							<h3>Metrô</h3>
							<p class="font-124">Descer na Estação Central e sair pela Rua Sapucaí </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
                        <div class="single_info_icon">
                            <img src="assets/images/contact/onibus.png" alt="">
                        </div>
						<div class="single_info_text">
							<h3>Ônibus</h3>
							<p class="font-124">Linhas que atendem a região: 8205 / 8106 / 9104 / 8103 / 8405 / 9210 / SC03A </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
                        <div class="single_info_icon">
                            <img src="assets/images/contact/andar.png" alt="">
                        </div>
						<div class="single_info_text">
							<h3>Caminhada</h3>
							<p class="font-124">À 800 m da Praça Sete de Setembro, na Região Central de BH</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_contact_info">
                        <div class="single_info_icon">
                            <img src="assets/images/contact/referencia.png" alt="">
                        </div>
						<div class="single_info_text">
							<h3>Pontos de referências</h3>
							<p class="font-124">Viaduto Santa Tereza, TV Alterosa, Salumeria Centrale</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>  <!-- End of contact section -->
