<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/conselho.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">CONSELHO EXECUTIVO</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom:0;">
				<div class="col-sm-6">
					<img src="assets/images/executive_concil.jpg" alt="" style="margin-bottom:20px;">
					<p class="font-124">Para minimizar os conflitos e facilitar o entendimento entre os diversos atores que compõem o Concilia BR-381 e Anel foi criado um Conselho Executivo, de caráter deliberativo, cuja principal função é buscar o consenso entre seus membros.</p>
				</div>
				<div class="col-sm-6">
					<!-- <p class="font-124">Para minimizar os conflitos e facilitar o entendimento entre os diversos atores que compõem o Concilia BR-381 e Anel foi criado um Conselho Executivo, de caráter deliberativo, cuja principal função é buscar o consenso entre seus membros.</p> -->
					<p class="font-124">O Comitê acompanha das diversas ações do programa e é responsável pelo gerenciamento do Plano de Providências. Do plano, elaborado pelo DNIT, constam as ações e soluções para viabilizar o reassentamento das famílias Concilia.</p>
				<!-- </div>
				<div class="col-sm-6"> -->
					<p class="font-124">Foram estabelecidos critérios e regras que orientam e facilitam a execução do Programa em cada uma de suas etapas. Essas diretrizes foram elaboradas pelos parceiros, revisadas pelos membros do Conselho Executivo e homologadas pela Justiça Federal.</p>
					<p class="font-124">O Comitê é composto por um representante de cada instituição parceira do Concilia BR-381 e Anel, que se reunem periodicamente e em situações extraordinárias quando necessário.</p>
					<p class="font-124">As deliberações do Conselho Executivo vão desde a conciliação e o cumprimento do Acordo Judicial homologado em juízo até a análise de casos excepcionais e decisões estratégicas.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a target="_blank" href="{{docExecCouncil}}">
					<b>
						 <h5 class="text-center" style="margin:50px"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>&nbsp;&nbsp;
							Acesse o regimento do Conselho Executivo
						</h5>
					</b>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="head_title" style="margin-bottom: 50px;">
					<h3 style="font-size: 2rem;">Atas de Reuniões</h3>
					<div class="separator"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive" style="padding-bottom:50px">
				<table class="table">
					<thead>
						<tr>
							<th class="font-124">Título</th>
							<th class="font-124">Descrição</th>
							<th class="text-center font-124">Data</th>
							<th class="text-center font-124">Apresentação</th>
							<th class="text-center font-124">PDF</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let meeting of meetings">
							<td class="font-124">{{meeting.title}}</td>
							<td class="font-124" style="width:300px;">{{meeting.description}}</td>
							<td class="text-center font-124">{{meeting.date | humanizeDate}}</td>
							<td class="text-center font-124">
								<a target="_blank" href="{{meeting.ppt}}">
									<i class="fa fa-file-powerpoint-o fa-2x" aria-hidden="true" style="color: #444;"></i>
								</a>
							</td>
							<td class="text-center font-124">
								<a target="_blank" href="{{meeting.pdf}}">
									<i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
