<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="choose" class="choose">
	<div class="container-fluid">
		<div class="row">
			<div class="main_choose sections">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">{{gallery.title}}</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:50px; ">
			<div class="popup-gallery">
				<a *ngFor="let photo of gallery?.photos" href="{{photo?.photo}}" [attr.title]="photo?.credit" [attr.description]="photo?.legend"><img class="photo" src="{{photo?.photo}}" width="400" height="auto"></a>
			</div>
		</div>
	</div>
</section>
