<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/comunidades.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section style="display: block; margin-bottom: 50px;" (window:resize)="onResize($event)">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div id="mapdiv" style="width: 100%; height: 700px;"></div>
			</div>
		</div>
	</div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_features_area sections" style="padding-top:0;padding-bottom:0;">
                    <div class="head_title">
                        <h3 style="font-size: 3rem;">INSERÇÃO SOCIAL</h3>
                        <div class="separator"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
							<img src="assets/images/selagem01.jpg" alt="">
                        </div><br>
                        <div class="col-sm-6">
                            <p class="font-124">Um dos diferenciais desse programa de reassentamento é o acompanhamento das famílias em todo o processo de mudança. São levadas em consideração as especificidades de cada núcleo familiar como a presença de idosos, adultos, crianças, adolescentes ou pessoas portadoras de algum tipo de deficiência.</p>
                            <p class="font-124">Também é feito um trabalho social nas comunidades e os moradores são inseridos em atividades sociais e educativas de saúde, assistência social, geração de emprego e renda, cultura e educação.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
		            <div class="head_title" style="margin-bottom: 50px;">
		                <h3 style="font-size: 3rem;">CADASTRAMENTO E SELAGEM</h3>
		                <div class="separator"></div>
		            </div>
		        </div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom: 85px;">
				<div class="col-sm-6">
					<p class="font-124">As famílias das comunidades beneficiadas pelo Concilia BR-381 e Anel passam pelo processo de cadastramento e selagem das moradias. Durante essa ação, as moradias recebem um selo (que dá origem ao nome do processo) com um número de identificação do imóvel. Estas e outras informações fornecerão subsídios para a Justiça Federal nas audiências de conciliação. Todas as moradias que participam do cadastramento recebem um documento de identificação e um selo afixado na porta da residência com uma sequência numérica.</p>
					<p class="font-124">Durante a atividade, é feito um levantamento arquitetônico, medição dos imóveis, avaliação das benfeitorias das moradias, análise de vulnerabilidade dos moradores, cadastro social das famílias, croqui técnico e registro fotográfico. Em termos genéricos, pode-se compreender esse processo como um registro das realidades física e social identificadas em campo.</p>
					<p class="font-124">Após o trabalho de medição técnica e avaliação social, é feita a aplicação do diagnóstico social - cadastro mais extenso com informações referentes às necessidades da Vila. Com a finalização da selagem é feito o congelamento das moradias situadas às margens da rodovia.</p>
				</div>
				<div class="col-sm-6">
					<p class="font-124">Os moradores são orientados a não expandir suas edificações nem realizar nenhuma modificação estética ou estrutural.</p>
					<p class="font-124">As benfeitorias feitas após a data da selagem não serão levadas em consideração na avaliação do imóvel durante as Audiências de Conciliação. Os problemas identificados durante a selagem são registrados pelos técnicos e, aqueles que necessitam de atendimentos sistematizados, são direcionados às equipes responsáveis.</p>
					<img src="assets/images/selagem02.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
