<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/manual.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">MANUAL DE IDENTIDADE VISUAL</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom:0;">
				<div class="col-sm-6">
						<img src="assets/images/capa-manual-marca.jpg" alt="" style="width: 500px;">
				</div>
				<div class="col-sm-6">
					<p class="font-124">Esse manual de identidade visual tem como objetivo auxiliar a formação e manutenção da imagem institucional do Concilia BR-381 e Anel - Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381.</p>
					<p class="font-124">As orientações contidas nesse documento facilitam a fixação da marca e a comunicação com o público em geral, além de padronizar e direcionar sua aplicabilidade em peças gráficas e materiais de uso cotidiano.</p>
					<p class="font-124">A correta aplicação da marca, independente da mídia, facilita a sua identificação por parte do público-alvo tornando, assim, a comunicação mais eficiente e, consequentemente, gerando mais resultados. Dessa forma, não é permitida qualquer alteração conceitual feita isoladamente, já que isso pode interferir no conceito e na qualidade da marca.</p>
					<p class="font-124">Para não comprometer a legibilidade e zelando pelo uso correto da marca, foram criadas regras de utilização que estão disponíveis no arquivo abaixo. Caso precise da logomarca em alta resolução, entre em contato conosco.</p>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a target="_blank" href="{{docVisualIdentity}}">
					<b>
						 <h5 class="text-center" style="margin:50px"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>&nbsp;&nbsp;
							Acesse o manual de identidade visual
						</h5>
					</b>
				</a>
			</div>
		</div>
	</div>
</section>
