#show-modal-concilia {
	border-radius: 5px;
}
.btn-danger {
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.separator {
	height: 1px;
	width: 300px;
	margin: 20px 0px;
	background: #444;
	position: relative;
}
.separator:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100px;
	background: #ff7200;
	content: "";
}
.text-center{
	text-align: center;
}
.concilia-caption, .concilia-credit{
	font-size: 0.875rem!important;
	color: #444!important;
}
