<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">EDITAIS</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom:0;">
				<div class="col-sm-4">
					<img src="assets/images/editais3.svg" alt="" >
				</div>
				<div class="col-sm-8">
					<p class="font-124">A implementação dos programas de desapropriação e o reassentamento requer a prestação de serviços bastante específicos: mudança e transporte dos objetos pessoais dos beneficiários, demolição das moradias, ealização de atividades de inclusão social; além do acompanhamento técnico e social.  No caso do Concilia BR 381 e Anel, são lançados no mercado editais de concorrência pública para atender à realização destes serviços.</p>

					<p class="font-124">Os editais são publicados e vence a concorrência a empresa que oferecer o menor custo para a realização da atividade demandada. Clique aqui para conferir os editais que estão disponíveis e os que já foram publicados pelo Concilia BR-381 e Anel.</p>
				</div>
			</div>
		</div><br /><br />
		<div class="row">
			<div class="table-responsive" style="padding-bottom:50px">
				<table class="table">
					<thead>
						<tr>
							<th class="font-124">Data de publicação</th>
							<th class="font-124">Data da abertura</th>
							<th class="font-124">Descrição</th>
							<th class="font-124">Edital</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let noticeConc of noticesConcorrencia">
							<td class="font-124">{{noticeConc.publishDate | humanizeDate}}</td>
							<td class="font-124">{{noticeConc.date | humanizeDate}}</td>
							<td class="font-124">{{noticeConc.description}}</td>
							<td class="text-center font-124">
								<a target="_blank" href="{{noticeConc.notice}}">
									<i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>
								</a>
								<a *ngIf="noticeConc.link != ''" target="_blank" href="{{noticeConc.link}}">
									<i class="fa fa-external-link fa-2x" aria-hidden="true" style="color: #444;"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
