<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/parceiros.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section class="section-partners" style="padding-bottom: 50px;padding-up: 50px; background-color:#eeeeee;">
	<div class="container">
		<div class="row row-partners">
			<div class="head_title" style="margin-bottom:0;">
				<h3 style="font-size: 2.5rem;">NOSSOS PARCEIROS E QUEM REALIZA</h3>
				<div class="separator"></div>
			</div>
		</div>
		<div class="row row-partners">
			<div class="col-sm-6">
				<div class="row">
					<a href="http://www.dnit.gov.br/" title="Clique aqui para acessar" target="_blank">
						<img src="assets/images/logomarcas/2-DNIT.png" style="height: 100px;" alt="Dnit - Departamento Nacional de Infraestrutura de Transportes" />
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						Responsável pela contratação de empresas para elaboração dos projetos e para a execução das obras de adequação de capacidade da BR-381/MG no segmento que vai de Belo Horizonte a Governador Valadares. O trecho tem 303 quilômetros e foi dividido em 11 lotes para execução das obras, que incluem duplicação, melhoramentos e ampliação de capacidade e segurança.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<a href="https://portal.trf1.jus.br/sjmg" title="Clique aqui para acessar" target="_blank">
						<img src="assets/images/logomarcas/logo_jf_horizontal.png" style="height: 100px;"  alt="Justiça Federal">
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						Promotora do Concilia BR-381 e Anel (Programa Judicial de Conciliação para Remoção e Reassentamento Humanizado de Famílias do Anel Rodoviário e BR-381), em conjunto com o Departamento Nacional de Infraestrutura de Transportes, Ministério Público Federal, Defensoria Pública da União, Comunidade de Moradores de Áreas de Risco e município de Belo Horizonte. Efetua todas as conciliações com o objetivo de chegar a uma solução consensual dos conflitos. Para isso articula a construção de acordos pelos parceiros e decide, homologando e determinando as providências necessárias para atingir o escopo do Programa.
					</p>
				</div>
			</div>
		</div>
		<div class="row row-partners">
			<div class="col-sm-6">
				<div class="row">
					<a href="http://www.dpu.def.br" title="Clique aqui para acessar" target="_blank">
						<img src="assets/images/logomarcas/DPU.png" alt="DPU"/>
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						A Defensoria Pública da União (DPU) em Minas Gerais é a instituição que, no exercício de sua missão constitucional (art. 134 da Carta Magna), presta assistência jurídica, individual e coletiva, à população vulnerável que vive às margens das rodovias federais. Atua em mutirões de conciliação e em atividades judiciais, administrativas e de mobilização das comunidades afetadas. Seu objetivo é garantir que o direito a uma moradia digna e adequada das famílias que ocupam as faixas de domínio e não edificante das rodovias seja respeitado. No momento em que essas famílias tiverem que ser compulsoriamente removidas, o órgão atua para que o processo ocorra de maneira humanizada, com observação de princípios fundamentais que vigoram no ordenamento jurídico brasileiro e em normas internacionais de direitos humanos.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<a href="http://www.mpf.mp.br/mg" title="Clique aqui para acessar" target="_blank">
						<img src="assets/images/logomarcas/mpf.png" alt="MPF">
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						O Ministério Público Federal e a Defensoria Pública da União foram os autores da Ação Civil Pública que culminou na criação do Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381, e, atualmente, são parceiros do programa. A atuação do MPF objetiva, em suma, a garantia do direito à moradia adequada da população que reside às margens do Anel Rodoviário de Belo Horizonte e da BR-381 Norte, quando da remoção de seu local de moradia em razão de obras viárias que serão ali realizadas.
					</p>
				</div>

			</div>
		</div>
		<div class="row row-partners">
			<div class="col-sm-6">
				<div class="row">
					<a href="https://cmarcomunidade.wixsite.com/cmar" title="Clique aqui para acessar" target="_blank">
						<img src="assets/images/logomarcas/CMAR2.png" alt="CMAR">
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						A Comunidade de Moradores de Áreas de Risco - CMAR reúne representantes de diversas comunidades para buscar uma solução que venha atender o conjunto de todas as famílias que serão removidas e reassentadas em função das obras de revitalização do Anel Rodoviário de Belo Horizonte. Hoje, o movimento conta com a participação de moradores de diversas comunidades.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row" style="height:112px;">
					<a href="http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?app=urbel" title="Clique aqui para acessar" target="_blank">
						<div class="col-sm-6">
							<img src="assets/images/logomarcas/urbel.png" alt="URBEL" />
						</div>
						<div class="col-sm-6">
							<img src="assets/images/logomarcas/prefeitura_bh.png" alt="Prefeitura de Belo Horizonte" />
						</div>
					</a>
				</div>
				<div class="row">
					<p style="font-size: 1.24rem;margin-top:20px;padding:20px;">
						A Urbel é o órgão da Prefeitura de Belo Horizonte responsável pelos diagnósticos sociais das famílias que vivem na faixa de domínio do Anel Rodoviário da capital mineira. É responsável pelo acompanhamento do pré e pós morar das famílias beneficiárias do Programa, com base no cadastro dos moradores. Essas informações estão em constante atualização e são elas que subsidiam as ações sociais. Com base nos dados, o órgão realiza o trabalho comunitário com as famílias nas áreas de saúde, assistência social, assessoria jurídica, educação, cultura e meio ambiente.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
