<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">Depoimentos</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="at-grid" data-column="3">

				<div class="at-column" *ngFor="let item of testimonys">
					<div class="at-user">
						<div class="at-user__avatar">
							<img src="{{item.image}}" />
						</div>
						<div class="at-user__name">{{item.name}}</div>
						<div class="at-user__title">
							<p>{{item.testimony}}</p>
							<p>{{item.exPlace}}</p>
							<p>{{item.place}}</p>
						</div>
					</div>
				</div>

			</div>
		</div><br /><br />
	</div>
</section>
