<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/acao.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">AÇÃO CIVIL PÚBLICA nº 57367-09.2013.4.01.3800</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom:0;">
				<div class="col-sm-6">
					<p class="font-124">Os moradores que ocupam as margens do Anel Rodoviário de Belo Horizonte e da BR-381 Norte que receberam ordem de despejo para que o governo federal pudesse usar as faixas de domínio para obras de melhoria e duplicação das  estradas se organizaram  e, em 2007, um grupo de mulheres dessas comunidades se mobilizou para impedir que a remoção fosse feita sem considerar prazos e sem prever o reassentamento das famílias.</p>
					<p class="font-124">Conhecidas como Mães do Anel, (movimento que futuramente deu origem ao CMAR – Comunidade de Moradores de Áreas de Risco), esse grupo procurou a Defensoria Pública da União (DPU) e o Ministério Público Federal (MPF) para buscar alternativas para a execução das obras de revitalização e duplicação das rodovias sem deixar de levar em consideração o reassentamento das famílias que vivem às margens do Anel e da BR-381.</p>
					<p class="font-124">Em 2013, o MPF e a DPU atuaram em favor das comunidades afetadas pelas obras dessas rodovias e moveram a ACP (Ação Civil Pública nº 57367-09.2013.4.01.3800) que deu origem ao Programa Judicial de Conciliação para Remoção e Reassentamento Humanizados de Famílias do Anel Rodoviário e BR-381. O Concilia BR-381 e Anel é uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT), implementado desde 2014.</p>

				</div>
				<div class="col-sm-6" style="margin-top: 5%;">
					<img src="assets/images/fotoacp2.png" alt="" style="margin-bottom:20px;">
					<!-- <p class="font-124">O Concilia BR-381 e Anel é uma iniciativa da Justiça Federal e do Departamento Nacional de Infraestrutura de Transportes (DNIT), implementado desde 2014.</p> -->
					<p class="font-124">Ministério Público Federal (MPF), Defensoria Pública da União (DPU), Município de Belo Horizonte, Companhia Urbanizadora e de Habitação de Belo Horizonte (URBEL) e Comunidade de Moradores de Áreas de Risco (CMAR) são parceiros do Concilia BR 381 e Anel.</p>
				</div>
				<div class="col-sm-12">
					<img src="assets/images/fotoacp.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a target="_blank" href="http://portal.trf1.jus.br/sjmg/processual/anel-rodoviario/anel-rodoviario.htm">
					<b>
						 <h5 class="text-center" style="margin:50px"><i class="fa fa-external-link" aria-hidden="true" style="color: #444;"></i>&nbsp;&nbsp;
							Acesse a ação civil pública na Seção Judiciária de Minas Gerais
						</h5>
					</b>
				</a>
			</div>
		</div>
	</div>
</section>
