<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/providencias.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="about" class="about">
	<div class="container">
		<div class="main_about_area sections" style="padding-bottom:0;">
			<div class="row">
				<div class="col-sm-12">
					<div class="head_title" style="margin-bottom: 50px;">
						<h3 style="font-size: 3rem;">PLANO DE PROVIDÊNCIAS</h3>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="main_about_area sections" style="padding-top:0;padding-bottom:0;">
				<div class="col-sm-6">
					<p class="font-124">O Plano de Providências é um documento elaborado pelo Departamento Nacional de Infraestrutura de Transportes - DNIT com o objetivo de apresentar ações e soluções que o órgão entende como necessárias para viabilizar o reassentamento definitivo das famílias cadastradas no Concilia BR-381 e Anel.</p>
					<p class="font-124">Além pretender o cumprimento das decisões judiciais proferidas no âmbito da Ação Civil Pública, o documento é fruto de intenso processo dialógico. Nele, foram incorporadas críticas e contribuições de todas as partes envolvidas no processo, bem como consolidados instrumentos que possibilitarão minimizar as divergências e alcançar a eficácia na execução das ações.</p>
					<p class="font-124">Como resultado dessas discussões, a proposta do DNIT passou a envolver 12 macroatividades, sucessivas e interdependentes, a serem executadas no período de 20/02/17 a 07/02/18:</p>
					<ul class="single_ab_mision">
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							banco de imóveis;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							informações cadastrais;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							estruturação do escritório do programa;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							celebração de acordo judicial;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							definição de parâmetros e regras;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							comunicação institucional;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							audiências públicas;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							acompanhamento pré morar;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							aquisição dos imóveis;
						</li>
						<li class="col-sm-6 font-124">
							<i class="fa fa-check-square"></i>
							contratação e execução da demolição;
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<span class="concilia-credit" style="padding-top:10%;">
						<i class="fa fa-user"></i>
						&nbsp;&nbsp;Felipe Chimicatti
					</span>
					<img src="assets/images/plano_providencias.jpg" alt="" style="max-width: inherit;">
					<span class="concilia-caption">
						<i class="fa fa-camera"></i>
						&nbsp;&nbsp;Moradias às margens de uma das vias mais movimentadas do país: O Anel Rodoviário de BH.
					</span>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a target="_blank" href="{{actionPlan}}">
					<b>
						 <h5 class="text-center" style="margin:50px"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>&nbsp;&nbsp;
							Acesse o plano de providências
						</h5>
					</b>
				</a>
			</div>
		</div>
	</div>
</section>
