<section id="home" class="home">
	<div class="overlay overlay-min">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/logoconcilia.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="features" class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="main_features_area sections" style="padding-bottom:0;">
					<div class="head_title" style="margin-bottom: 0px;">
						<h3 style="font-size: 3rem;">CRITÉRIOS E REGRAS</h3>
						<div class="separator"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<img src="assets/images/criterios_regras.jpg" alt="" style="padding-top:10%">
						</div><br>
						<div class="col-sm-6">
							<p class="font-124">Para que a execução do Concilia BR-381 e Anel seja viável e eficaz, é fundamental que sejam validados, por todas as partes, os critérios e regras que regerão cada uma das etapas do reassentamento das famílias que vivem na faixa de domínio da rodovia.</p>
							<p class="font-124">Essas diretrizes foram consolidadas em um documento específico, que aborda, entre outros assuntos:</p>

							<ul class="single_ab_mision">
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Forma de acesso das famílias ao banco de imóveis;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Critérios para a ordem de escolha dos imóveis;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Regras para manifestação preliminar de interesse;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Regras para visitação dos imóveis pré-selecionados;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Regras para a formalização da escolha;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Regras para o agendamento da mudança;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Regras para a realização da mudança;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Planejamento inicial do acompanhamento pré morar;
								</li>
								<li class="font-124">
									<i class="fa fa-check-square"></i>
									Planejamento inicial do acompanhamento pós morar;
								</li>
							</ul><br>
							<p class="font-124">Esse documento foi revisado e validado pelo Conselho Executivo e, em seguida, homologado na Justiça Federal.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a target="_blank" href="{{criteriaRules}}">
					<b>
						 <h5 class="text-center" style="margin:50px"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="color: #444;"></i>&nbsp;&nbsp;
							Acesse os critérios e regras
						</h5>
					</b>
				</a>
			</div>
		</div>
	</div>
</section>
