<div id="warning" class="modal" data-easein="perspectiveDownIn"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width:90%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="fa fa-close fa-2x"></i>
				</button>
				<h2 class="modal-title" style="color: #444;">
					Informativo
				</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-4">
						<img src="assets/images/calendar.png" alt="">
					</div>
					<div class="col-lg-8">
						<h4>
							Esse teste ainda não formatado para apresentar uma chamada de notícias muito importantes ou eventos que estão para acontecer.
						</h4>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
					Fechar
				</button>
				<button class="btn btn-primary">
					Ver detalher
				</button>
			</div>
		</div>
	</div>
</div>
