<div id="warning" class="modal" data-easein="perspectiveDownIn"  tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="background: #efefef">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="fa fa-close fa-2x"></i>
				</button>
				<h2 class="modal-title" style="color: #444;">
					{{alert?.title}}
				</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">

						<img *ngIf="alert?.image" src="{{alert?.image}}" alt="" style="width: 100%;">
						<img *ngIf="!alert?.image" src="assets/images/calendar.png" alt="">

					</div>
					<div class="col-lg-8 col-md-8 col-sm-8">
						<h4>
							<strong>
								{{alert?.text}}
							</strong>
						</h4>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
					Fechar
				</button>
				<button *ngIf="alert?.link != ''" class="btn btn-primary" (click)="goTo(alert?.link)">
					Ver detalhes
				</button>
			</div>
		</div>
	</div>
</div>
