<section id="home" class="home">
    <div class="overlay overlay-min">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
					<h1 style="text-align: -webkit-center;">
						<img src="assets/images/banner_images/comunidades.png" alt="Logo do concilia" style="max-width:60%;margin-top: 150px;">
					</h1>
	            </div>
            </div>
        </div>
    </div>
</section>
<section class="features" id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_features_area sections">
                    <div class="head_title">
                        <h3 style="font-size: 3rem;">{{community?.title}}</h3>
                        <div class="separator"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
							<img alt="" src="{{community?.image}}">
                        </div><br>
                        <div class="col-sm-6 p-text" [innerHTML]="community?.text" style="font-size: 1.24rem">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container-fluid">
		<div class="row" style="margin-bottom:50px; ">
			<div class="popup-gallery" style="text-align: center;">
				<a *ngFor="let photo of community?.photos" href="{{photo?.image}}" [attr.title]="photo?.credit" [attr.description]="photo?.caption"><img class="photo" src="{{photo?.image}}" width="auto" height="300"></a>
			</div>
		</div>
	</div>
</section>
